%h1 Listing folders

%ul.ca-menu
  - @folders.each do |folder|
    %li
      = link_to folder_path(folder) do
        = image_tag image_path('mini_folder.png')
        = folder.name

= link_to 'New Folder', new_folder_path, class: "btn btn-primary"
