.container
  .col-md-12
    %h1 Listing folders

  .col-md-2
    -if user_signed_in?
      .menu_opt
        = link_to "new folder", new_folder_path(parent_id: @folder),  {:remote => true, :data => { :toggle => 'modal', :target => '#modal-new-folder'},  :class => 'btn'}
  .col-md-10
    %ul.listing
      - @folders.each do |folder|
        %li= folder_link(folder)

      - if @folders.blank?
        %b No files or folders

-if user_signed_in?
  = render 'modal_new_folder'

