.col-md-12
  %h1 Listing users

  %table.table.table-bordered
    %thead
      %tr
        %th User
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= link_to "Change password", edit_user_path(user), class: "btn"
  = paginate @users
